<ion-content>
  <app-header-regular backButton="backButton" title="Usuarios"></app-header-regular>



  <div style="padding-top: 30px;" *ngIf="waiting">
    <ion-item *ngFor="let s of [1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </div>


  <div style="padding-top: 10px;" *ngIf="!waiting && users.length > 0">
    <div class="ion-padding">
    <ion-searchbar (ionChange)="searchUser($event)" placeholder="Buscar" animated mode="ios">
    </ion-searchbar>
  </div>
    <ion-item  *ngFor="let u of users  | personFilter: result">
      <ion-avatar *ngIf="u.img" slot="start">
        <img [src]="u.img" />
      </ion-avatar>

      <ion-icon *ngIf="!u.img" color="primary" style="font-size: 30px;" slot="start" name="person-circle-outline">
      </ion-icon>
      <ion-label color="primary">
        <strong style="font-size: 15px;">{{u.name}} {{u.lastname}}</strong>
        <ion-text color="medium">
          <div style="font-size: 13px;">DNI: {{u.dni}} </div>
        </ion-text>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="medium" (click)="Options($event, u)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>


  <div *ngIf="!waiting && users.length == 0" class="ion-text-center empty-array">

    <ion-text color="primary">
      <ion-icon style="font-size: 120px;" name="person-circle-outline"></ion-icon>
      <p>No hay usuarios</p>
    </ion-text>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="NewUser()" color="secondary">
      <ion-icon color="primary" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>