<ion-item (click)="userDetail()">
  <ion-icon slot="start" name="person-circle-outline"></ion-icon>
  <ion-label>Ver Usuario</ion-label>
</ion-item>
<ion-item (click)="editUser()">
  <ion-icon slot="start" name="create-outline"></ion-icon>
  <ion-label>Editar Datos</ion-label>
</ion-item>
<!-- <ion-item *ngIf="user.id !== currentUser" (click)="confirmDelete()">
  <ion-icon color="danger" slot="start" name="trash-outline"></ion-icon>
  <ion-label color="danger">Eliminar Usuario</ion-label>
</ion-item> -->